<!-- delete_grupos.html -->

{% extends "base/base.html" %}
{% block title %}Excluir{% endblock %}
{% block userinfo %}
<div class="container">
    <h1>Excluir Grupos para {{ evento.edicao }}</h1>
    <form method="post">
        {% csrf_token %}
        <ul>
            {% for grupo in grupos %}
            <li>
                <label>
                    <input type="checkbox" name="grupos" value="{{ grupo.id }}">
                    {{ grupo.nome }}
                </label>
            </li>
            {% endfor %}
        </ul>
        <button type="submit" class="btn btn-danger">Excluir Selecionados</button>
    </form>
</div>
{% endblock %}
