{% extends "base/base.html" %}
{% load static %}
{%block title%} Home {%endblock%}
{% block userinfo %}
<div class="container">
    <h1>Detalhes do Evento: {{ evento.edicao }}</h1>
    <div style="text-align: right; margin-right:10px; margin-bottom: 10px">
        <a href="{% url 'upload_edital' evento_id=evento.id %}" >
            <button>Postar Edital</button>
        </a>
    </div>
    <!-- Grupos -->
    <h2 class="gaveta-header">Grupos</h2>
    <div class="gaveta-content">
    <ul>
        {% for grupo in grupos %}
        <ul>
            {{ grupo.nome }} 
            <form method="POST" style="display:inline; "class="form-evento">
                {% csrf_token %}
                <input type="hidden" name="grupo_id" value="{{ grupo.id }}">
                <button type="submit" name="delete_grupo">Excluir</button>
                <hr width="100%" size="2">
            </form>
            
        </ul>
        {% endfor %}
    </ul>
</div>

    <h3>Adicionar Novo Grupo</h3>
    <form method="POST" class="form-evento">
        {% csrf_token %}
        {{ grupo_form.as_p }}
        <button type="submit" name="add_grupo">Adicionar Grupo</button>
    </form>

    <!-- Modalidades -->
    <h2 class="gaveta-header">Modalidades</h2>
    <div class="gaveta-content"
    <ul>
        {% for modalidade in modalidades %}
        <ul>
            {{ modalidade.nome }} {{ modalidade.categoria}}- {{ modalidade.local }}
            <form method="POST" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="modalidade_id" value="{{ modalidade.id }}">
                <a ><button type="submit" name="delete_modalidade" >Excluir</button></a>
                <hr width="100%" size="2">
            </form>
            
        </ul>
        {% endfor %}
    </ul>
</div>
    <h3>Adicionar Nova Modalidade</h3>
    <form method="POST"class="form-evento">
        {% csrf_token %}
        {{ modalidade_form.as_p }}
        <button type="submit" name="add_modalidade">Adicionar Modalidade</button>
    </form>

    <!-- Divisões -->
    <h2 class="gaveta-header">Divisões</h2>
    <div class="gaveta-content">
    <ul>
        {% for divisao in divisoes %}
        <ul> <b>Modalidade: {{ divisao.modalidade.nome }}</b><br>
            Tipo: {{ divisao.get_tipo_divisao_display }} - {{ divisao.minAtleta }} a {{ divisao.maxAtleta }} atletas
            
            <form method="POST" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="divisao_id" value="{{ divisao.id }}">
                <button type="submit" name="delete_divisao">Excluir</button>
                <hr width="100%" size="2">
            </form>
        </ul>
        {% endfor %}
    </ul>
</div>

    <h3>Adicionar Nova Divisão</h3>
    <form method="POST">
        {% csrf_token %}
        {{ divisao_form.as_p }}
        <button type="submit" name="add_divisao">Adicionar Divisão</button>
    </form>

</div>
{%endblock%}