{% extends "base/base.html" %}
{% load static %}
{% block title %}Inscrição em Divisões{% endblock %}

{% block userinfo %}
<div class="container">
    <h2>Inscrever Atletas em Divisões para o Grupo: {{ grupo.nome }}</h2>

    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <h3>Divisões Disponíveis</h3>
        {% for divisao in divisoes %}
            <div>
                <h4>{{ divisao.tipo_divisao }} - {{ divisao.modalidade.nome }}</h4>
                <p><strong>Local:</strong> {{ divisao.modalidade.local }}</p>
                <p><strong>Categoria:</strong> {{ divisao.modalidade.categoria }}</p>
                <p><strong>Min. Atletas:</strong> {{ divisao.minAtleta }} | <strong>Max. Atletas:</strong> {{ divisao.maxAtleta }}</p>
                <input type="checkbox" name="divisoes" value="{{ divisao.id }}"> Inscrever nesta divisão
            </div>
        {% endfor %}

        <h3>Atletas Disponíveis</h3>
        {% for atleta in atletas %}
            <div>
                <input type="checkbox" name="atletas" value="{{ atleta.id }}"> {{ atleta.nome }}
            </div>
        {% endfor %}

        <button type="submit">Inscrever</button>
    </form>
</div>
{% endblock %}
