{% extends "base/base.html" %}
{%block title%} Sobre {%endblock%}
{% block userinfo %}

<div class="container">

  <h1>Sistema de Inscrições e Acompanhamento Desportivo - Projeto de Software</h1>
        <p>
            Este sistema foi desenvolvido para facilitar o processo de inscrições e acompanhamento do JEP 
            da disciplina de Projeto de Software, no curso de Engenharia de Computação. 
            Aqui, você poderá:
        </p>

        <ul>
            <li>Inscrever-se de forma rápida e eficiente.</li>
            <li>Acompanhar suas submissões e atualizações em tempo real.</li>
            <li>Receber feedback e notificações sobre o andamento do seu projeto.</li>
        </ul>

        <p>
            Nosso objetivo é proporcionar uma experiência intuitiva e otimizar as inscrições, 
            tornando o processo mais ágil e organizado.
        </p>

        <h2>Como se inscrever:</h2>
        <ol>
            <li>Crie sua conta ou faça login.</li>
            <li>Escolha a atividade ou módulo desejado.</li>
            <li>Preencha as informações necessárias e envie sua inscrição.</li>
        </ol>

        <p class="important">
            Não perca prazos! Fique atento às datas de submissão e acompanhe seu progresso diretamente na plataforma.
        </p>

</div>
{% endblock %}