{% extends "base/base.html" %}
{% load static %}
{% block title %}Área do Representante{% endblock %}

{% block userinfo %}
<div class="container">
    <h2>Lista de Eventos e Grupos para Inscrição</h2>
    
    <ul>
        {% for evento in eventos %}
            <h2 class="gaveta-header">
                {{ evento.edicao }} - {{ evento.local }} ({{ evento.data_inicio }} a {{ evento.data_fim }})
            </h2>
            <div class="gaveta-content">
                <ul>
                    {% for grupo in evento.grupos.all|dictsort:"nome" %}
                        <ul>
                            <a href="{% url 'detalhes_user' grupo.id evento.id %}">{{ grupo.nome }}</a>
                            
                        </ul>
                    {% empty %}
                        <p>Nenhum grupo encontrado.</p>
                    {% endfor %}
                </ul>
                <div style="text-align: right; margin-right:10px;">
                    {% if evento.id %}
                        <a href="{% url 'editais' %}">
                            <button>Ver Detalhes do Evento</button>
                        </a>
                    {% else %}
                        <p>ID do evento não encontrado.</p>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <li>Nenhum evento encontrado.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
