{% load static %}
<!DOCTYPE html>
<html>
<script type ="text/javascript" src= "{%static 'js/scripts.js'%}"></script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale =1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static '/icons/favicon.ico' %}">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>

    <nav>
        <ul class="sidebar">
            <li onclick=hideSidebar()><a><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M481-433.69 276.15-227.85q-10.61 10.62-23.77 10.5-13.15-.11-24.53-11.5-10.39-11.38-9.89-23.15.5-11.77 10.89-23.15L432.69-480 227.85-686.85q-9.62-10.61-10-22.77-.39-12.15 10-23.53 11.38-11.39 24.15-11.89 12.77-.5 24.15 10.89L481-528.31l202.85-205.84q10.61-10.62 23.77-10.5 13.15.11 24.53 11.5 10.39 11.38 9.89 23.15-.5 11.77-10.89 23.15L527.31-480l203.84 204.85q9.62 9.61 10.5 22.27.89 12.65-9.5 24.03-11.38 11.39-24.15 11.89-12.77.5-24.15-10.89L481-433.69Z"/></svg></a></li>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'editais' %}">Editais</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
            <li><a href="{% url 'sobre' %}">Sobre</a></li>
        </ul>
        <ul>
            <li class="icon-link"><a href="{% url 'home' %}"></a></li>
            <li class="hideOnMobile"><a href="{% url 'home' %}">Home</a></li>
            <li class="hideOnMobile"><a href="{% url 'editais' %}">Editais</a></li>
            {% if user.is_authenticated %}
                <li class="hideOnMobile"><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li class="hideOnMobile"><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
            <li class="hideOnMobile"><a href="{% url 'sobre' %}">Sobre</a></li>
            <li class="hambMenu"onclick=showSidebar()><a><svg xmlns="http://www.w3.org/2000/svg"  height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M161-251.23q-13.5 0-23.25-9.76T128-284.26q0-13.51 9.75-23.24 9.75-9.73 23.25-9.73h638q13.5 0 23.25 9.76 9.75 9.75 9.75 23.27 0 13.51-9.75 23.24-9.75 9.73-23.25 9.73H161ZM161-448q-13.5 0-23.25-9.76T128-481.03q0-13.51 9.75-23.24Q147.5-514 161-514h638q13.5 0 23.25 9.76t9.75 23.27q0 13.51-9.75 23.24Q812.5-448 799-448H161Zm0-196.77q-13.5 0-23.25-9.76-9.75-9.75-9.75-23.27 0-13.51 9.75-23.24 9.75-9.73 23.25-9.73h638q13.5 0 23.25 9.76t9.75 23.27q0 13.51-9.75 23.24-9.75 9.73-23.25 9.73H161Z"/></svg></a></li>
        </ul>
    </nav>



{% block userinfo %}
  <h2>Not registered yet</h2>
{% endblock %}

</body>
</html>